@import "modifications.scss";

.articles {
    padding: 35px 0 160px;
    .content{
        position: relative;
        top: 0;
        left: 0;
        &::after{
            content: "";
            background-image: url("../assets/images/bob_orange.jpg");
            background-repeat: no-repeat;
            width: 857px;
            height: 695px;
            position: absolute;
            top: -60px;
            right: -450px;
            z-index: -1;
        }
        .articles__row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            >h2{
                position: relative;
                top: 0;
                left: 0;
                &::before{
                    content: "";
                    width: 111px;
                    height: 16px;
                    position: absolute;
                    bottom: 0;
                    left: -9px;
                    background-color: $orange;
                    border-radius: 4px;
                    opacity: 0.5;
                    z-index: -1;
                }
            }
            >a{
                width: 172px;
                height: 50px;
                @include fontz($bit,$fst,600,16px,19px,$orange);
                border: 2px solid $orange;
                border-radius: 8px;
                text-align: center;
                text-decoration: $td;
                padding: 15px 0;
                background-color: $white;
            }
        }
        .articles__cards{
            margin: 40px 0 0;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .articles__card {
                display: flex;
                flex-direction: column;
                max-width: 285px;
                width: 100%;
                &:not(:last-of-type){
                    margin-right: 30px;
                }
                article{
                    padding: 15px;
                    .directions{
                        span{
                            @include fontz($mon,$fst,400,12px,14px,$col1);
                            padding: 5px 10px;
                            border-radius: 2px;
                            &:first-of-type{
                                background-color: #A2D8FF;
                            }
                            &:nth-of-type(2){
                                background-color: #FFD4BC;
                            }
                            &:last-of-type{
                                background-color: #BEC5FF;
                            }
                        }
                    }
                    >h4{
                        margin-top: 20px;
                        >a{
                            text-decoration: $td;
                            @include fontz($mon,$fst,600,16px,22px,$col1);
                            
                        }
                    }
                    >p{
                        margin-top: 15px;
                        @include fontz($mon,$fst,400,14px,20px,$col2);
                    }
                    >.articles__card-line{
                        margin-top: 22px;
                        height: 1px;
                        width: 100%;
                        background-color: #E2E7EB;
                    }
                    >.articles__card-info{
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;
                        margin-top: 15px;
                        width: 100%;
                        .articles__card-date{
                            >svg{
                                margin-right: 10px;
                            }
                            >span{
                                @include fontz($mon,$fst,400,14px,19px,$col1);
                            }
                        }
                        .articles__card-views{
                            >svg{
                                margin-right: 10px;
                            }
                            >span{
                                @include fontz($mon,$fst,400,14px,19px,$col1);
                            }
                        }
                    }
                }
            }
        }
    }
}






