@import "modifications.scss";

.articles {
    padding: 35px 0 160px;
    @media (max-width:1024px){
        padding: 50px 0;
    }
    @media (max-width:768px){
        padding: 40px 0 ;
    }
    .content{
        position: relative;
        &::after{
            content: "";
            background-image: url("../assets/images/bob_orange.svg");
            background-repeat: no-repeat;
            width: 857px;
            height: 695px;
            position: absolute;
            top: -60px;
            right: -450px;
            z-index: -1;
        }
        .articles__row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            >h2{
                position: relative;
                &::before{
                    content: "";
                    width: 111px;
                    height: 16px;
                    position: absolute;
                    bottom: 0;
                    left: -9px;
                    background-color: $orange;
                    border-radius: 4px;
                    opacity: 0.5;
                    z-index: -1;
                    @media (max-width:768px){
                            width: 50px;
                            height: 8px;
                        }
                }
            }
            >a{
                width: 172px;
                height: 50px;
                @include fontz($bit,$fst,600,16px,19px,$orange);
                border: 2px solid $orange;
                border-radius: 8px;
                text-align: center;
                text-decoration: $td;
                padding: 14px 0;
                background-color: $white;
                @media (max-width:1024px){
                    widows: 152px;
                    height: 42px;
                    padding: 11px 0;
                }
                @media (max-width:768px){
                    width: auto;
                    height: auto;
                    border: none;
                    background-color: transparent;
                    text-decoration: underline;
                    padding: 0;
                }
            }
        }
        .articles__cards{
            margin-top: 40px;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            @media (max-width:1024px){
                margin-top: 30px;
            }
            @media (max-width:768px){
                margin-top: 20px;
            }
            .articles__card {
                display: flex;
                flex-direction: column;
                max-width: 285px;
                width: 100%;
                &:nth-of-type(2){
                    @media (max-width:768px){
                        display: none;
                    }
                }
                &:not(:last-of-type){
                    margin-right: 30px;
                    @media (max-width:1024px){
                        margin-right: 0;
                    }
                }
                @media (max-width:1024px){
                    max-width: 50%;
                    width: 100%;
                    &:nth-of-type(1n+3){
                        display: none;
                    }
                    &:first-of-type{
                        margin-right: 30px;
                        @media (max-width:768px){
                            margin: 0;
                        }
                    }
                }
                @media (max-width:768px){
                    max-width:  100%;
                }
                img{
                    object-fit: cover;
                    width: 100%;
                }
                article{
                    padding: 15px;
                    .directions{
                        span{
                            @include fontz($mon,$fst,400,12px,14px,$col1);
                            padding: 5px 10px;
                            border-radius: 2px;
                            &:first-of-type{
                                background-color: #A2D8FF;
                            }
                            &:nth-of-type(2){
                                background-color: #FFD4BC;
                            }
                            &:last-of-type{
                                background-color: #BEC5FF;
                            }
                        }
                    }
                    >h4{
                        margin-top: 20px;
                        @media (max-width:768px){
                            margin-top: 15px;
                        }
                        >a{
                            text-decoration: $td;
                            @include fontz($mon,$fst,600,16px,22px,$col1);
                            @media (max-width:768px){
                                @include fontz($mon,$fst,600,16px,20px,$col1);
                            }
                        }
                    }
                    >p{
                        margin-top: 15px;
                        @include fontz($mon,$fst,400,14px,20px,$col2);
                        @media (max-width:768px){
                            @include fontz($mon,$fst,400,12px,16px,$col2);
                        }
                    }
                    .articles__card-line{
                        margin-top: 22px;
                        height: 1px;
                        width: 100%;
                        background-color: #E2E7EB;
                    }
                    .articles__card-info{
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;
                        margin-top: 15px;
                        width: 100%;
                        .articles__card-date{
                            >svg{
                                margin-right: 10px;
                            }
                            >span{
                                @include fontz($mon,$fst,400,14px,19px,$col1);
                                @media (max-width:768px){
                                    @include fontz($mon,$fst,400,12px,16px,$col1);
                                }
                            }
                        }
                        .articles__card-views{
                            >svg{
                                margin-right: 10px;
                            }
                            >span{
                                @include fontz($mon,$fst,400,14px,19px,$col1);
                                @media (max-width:768px){
                                    @include fontz($mon,$fst,400,12px,16px,$col1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}






