@import "modifications.scss";

.header {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color:  $white;
    z-index: 999;
    .header__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .wrapper {
            display: flex;
            align-items: center;
            nav{
                a {
                    margin-right: 50px;
                    text-decoration: none;
                    @include fontz($mon,$fst,600,16px,21px,$col1);
                    &:hover{
                        color: $orange;
                    }
                }
            }
            button {
                width: 45px;
                height: 30px;
                background-color: transparent;
                border: 2px solid #E2E7EB;
                &:first-of-type {
                    @include fontz($mon,$fst,600,$fsz,19px,$white);
                    background-color: $orange;
                    border-radius: 6px 0 0 6px;
                }
                &:last-of-type {
                    @include fontz($mon,$fst,600,$fsz,19px,$col1);
                    border-radius: 0 6px 6px 0;
                    border-left: none;
                }
            }
        }
    }
}




