@import "modifications.scss";

.header {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color:  $white;
    z-index: 999;
    @media (max-width:1024px){
        height: 50px;
    }
    @media (max-width:768px){
        height: 44px;
    }
    .header__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__logo-link-icon{
            @media (max-width:1024px){
                width: 86px;
                height: 42px;
            }
            @media (max-width:768px){
                width: 71px;
                height: 34px;
            }
        }
        .wrapper {
            display: flex;
            align-items: center;
            nav{
                margin-right: 50px;
                @media (max-width:1024px){
                    margin-right: 65px;
                }
                @media (max-width:768px){
                    display: none;
                }
                a {
                    &:not(:last-of-type){
                        margin-right: 50px;
                        @media (max-width:1024px){
                            margin-right: 20px;
                        }
                    }
                    text-decoration: none;
                    @include fontz($mon,$fst,600,16px,21px,$col1);
                    &:hover{
                        color: $orange;
                    }
                    @media (max-width:1024px){
                        @include fontz($mon,$fst,600,14px,18px,$col1);
                    }
                }
            }
            button {
                width: 45px;
                height: 30px;
                background-color: transparent;
                border: 2px solid #E2E7EB;
                @media (max-width:768px){
                    width: 40px;
                    height: 24px;
                }
                &:first-of-type {
                    @include fontz($mon,$fst,600,$fsz,19px,$white);
                    background-color: $orange;
                    border-radius: 6px 0 0 6px;
                    @media (max-width:768px){
                        @include fontz($mon,$fst,600,12px,16px,$white);
                    }
                }
                &:last-of-type {
                    @include fontz($mon,$fst,600,$fsz,19px,$col1);
                    border-radius: 0 6px 6px 0;
                    border-left: none;
                    @media (max-width:768px){
                        @include fontz($mon,$fst,600,12px,16px,$col1);
                    }
                }
            }
        }
        .header__menu--burger{
            display: none;
            @media (max-width:768px){
                display: inline-block;
                width: 34px;
                height: 34px;
            }
        }
    }
}




