@import "modifications.scss";



.programming{
    padding: 0 0 220px;
    @media (max-width:1024px){
        padding: 50px 0;
    }
    @media (max-width:768px){
        padding: 40px 0;
    }
    h2{
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        &::before{
            content: "";
            width: 111px;
            height: 16px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $orange;
            border-radius: 4px;
            opacity: 0.5;
            z-index: -1;
            @media (max-width:768px){
                width: 111px;
                height: 8px;
            }
        }
    }
    .programming__cards{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:1024px){
            margin-top: 25px;
        }
        @media (max-width:768px){
            margin-top: 10px;
        }
        .programming__card{
            &:not(:last-of-type){
                margin-right: 50px;
                @media (max-width:1024px){
                   margin-right: 30px;
               }
                @media (max-width:768px){
                    margin: 0;
                }
            }
            img{
                object-fit: cover;
                max-width: 100%;
                    @media (max-width:768px){
                        width: 100%;
                        object-fit: contain;
                }
            }
            &:first-of-type{
                max-width: 260px;
                width: 100%;
                @media (max-width:768px){
                max-width: 100%;
                }
            }
            &:nth-of-type(2){
                max-width: 342px;
                width: 100%;
                @media (max-width:768px){
                    display: none;
                }
            }
            &:last-of-type{
                max-width: 276px;
                width: 100%;
                @media (max-width:768px){
                    display: none;
                }
            }
            .programming__card-row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                svg{
                    &:first-child,&:last-child{
                        display: none;
                        @media (max-width:768px){
                            display: inline-block;
                        }
                    }
                }
                p{
                    margin-top: 40px;
                    @include fontz($mon,$fst,600,20px,24px,$col1);
                    text-align: center;
                    @media (max-width:1024px){
                        @include fontz($mon,$fst,600,18px,22px,$col1);
                        margin-top: 20px;
                    }
                     @media (max-width:768px){
                         margin: 5px 10px 0;
                         @include fontz($mon,$fst,600,16px,20px,$col1);
                    }
                }
            }
        }
    }
}


